<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Playwright Suite" parallel="tests" thread-count="2">
  <test name="ChromiumTests">
    <parameter name="browser" value="chromium"/>
    <classes>
      <class name="com.example.tests.tests.LoginTest" />
      <class name="com.example.tests.tests.HomeTest" />
    </classes>
  </test>
</suite>
